<form action="/answer">
  <input type="text" name="question" value="Ask!" placeholder="What's your question?">
  <input type="submit">
</form>

<p class='p-3'>
  <%= link_to "Ask a question", ask_path %>
</p>
